body {
    font-family:Calibri;
    border: solid .5px #5c88ce;
    margin: 25px 100px 25px 100px;
    background-color:#F3F5F6;
}
t-op {
    text-align: center;
}
muted-blue {
        color:#5687d4;
}

hr {
    border-color: #8ba6d0;
    margin: 0px 170px 0px 170px;
}
p {
    text-align: center;
    margin: 0;
}
a:link {
    color:#000000;
    text-decoration: none;
}
a:hover{
    color:hotpink;
}
h1 {
    line-height:15px;
    font-size: 48px;
}
h2 {
    line-height:15px;
}
hea-der {
        font-family: 'Niramit', sans-serif;
        font-size: 22px;
        margin-left: 170px;
        color:#5484ce;
}
img {
    width: 100px;
}
li {
    margin-left: 512px;
}
iframe {
    border: 0px;
    width: 560px;
}